*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    border:2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
nav h1{
    border: 2px solid blue;
}
nav ul{
    border: 2px solid red;
    display: flex;
    list-style: none;
}
.nav-links{
    display: flex;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section{
    border:2px solid green;
    background-color: #435063;
    background-image: linear-gradient(to top, #435063, #2c3e50);
    height: 70vh;    
    padding-top: 30px;
    }
.hero-section h2{
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero-section p{
    font-size: 1.2rem;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
}
.hero-section button{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: white;
    color: #435063;
    border: 2px solid #435063;
    border-radius: 5px;
    cursor: pointer;
}
.hero-section button:hover{
    background-color: #435063;
    color: white;
}   
.hero-two{
    border: 2px solid orange;
    background-color: #e6ebf2;
    height:auto;
    padding:40px;
    
}
.hero-two h2{
    border: 4px solid purple;
    font-size: 2.5rem;
    margin-bottom: 20px;  }
.strat-container{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}
.strategy-1 {
  background-color: #fafbfc;
    width: 45%;
    border-radius: 12px;
    height: 600px;
}
.strategy-2{
    gap: 20px;
}
.strategy-cards{
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.strategy-cards :hover{    
    transform: scale(1.05);
    transition:  0.3s ease;
}
/* Mobile responsiveness */
@media (max-width: 768px) {
    nav {
         align-items: flex-start;
    }
    .nav-links {
        flex-direction: column;
        gap: 10px;
        
    }
    .hero-section h2 {
        font-size: 2rem;
    }
    .hero-section p {
        font-size: 1rem;
        padding: 0 20px;
    }
}